* {
    margin: .5% 1%;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 12%;
}
h1 {
    color: #3D4248;
    font-weight: bold;
    font-size: 1.75rem;
    text-align: center;
    padding: 1%;
    text-transform: uppercase;
}
.queue {
    width: 50%;
    margin: 2% auto;
}
.queue li {
    border-bottom: 1px solid #ccc;
    padding: 2% 0;
    margin: .5%;
    position: relative;
}
.queue li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
}
.queue li button {
    position: absolute;
    right: 0;
    top: 0;
    background: #2d496e;
    color: #fff;
    font-size: .8em;
    padding: 1.6% 4%;
    border: none;
    text-transform: uppercase;
}
/*queue*/
.inline .kezek {
    width: 30%;
    background: #fafafa;
}
.inline table tr th {
    text-transform: uppercase;
}
.inline table tr td, .inline table tr th {
    padding: 3% 0 3% 2%;
    width: 10%;
    text-align: left;
    font-size: 1.2em;
    border-bottom: 3px solid #fff;
}
.inline table tr i {
    font-size: 1.6em;
    color: #2d496e;
}
.inline .btn {
    padding: 1.4% 1.5%;
    font-size: 1.2em;
    border: none;
    background: #a81308;
    color: #fff;
    width: 15%;
    margin-top: .5%;
    text-transform: uppercase;
    font-weight: 500;
}
.kezek_btn {
    background: #2d496e;
    color: #fafafa;
    font-weight: 500;
}
/*modal*/
.modal_input {
    clear: both;
    text-align: right;
    line-height:25px;
}
label {
    float: left;
    padding-right:10px;
}
form {
    float: left;
    width: 70%;
}
input {
    width: 70%;
    border: none;
    border-bottom: 1px dashed #000000;
}